.post-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;

    
    font-size: 14px;
    width: 470px;
    border-bottom: 1px solid $gray;

    border: 0.5px solid $gray;

}



.post-preview * {
    padding-left: 0;
    font-family: $font;
}


.post-preview-post-image {
    border: 0.5px solid $gray;
    border-radius: 5px;
}

.post-preview-content {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.post-preview-txt {
    display: flex;
    align-items: center;
}
.name {
    font-weight: bold;
}

.comments {
    margin-top: 8px;
}
