// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray: #737373;
$blue: #0095f6;
$red: #ff3040;
$black : #000000;
$dark-gray: #262626;

$font: Segoe_UI, Roboto, Helvetica, Arial, sans-serif;
$font-bold: Segoe_UI_Bold, Roboto, Helvetica, Arial, sans-serif;

$font-size: 14px;

$border-bottom: 1px solid rgba(0, 0, 0, 0.2);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
