// Icons
.post-reactions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1px;
  margin-bottom: 1px;


  .like-comment-send {
    display: flex;
    padding: 0;
    align-items: center;
  }

  .bookmark {

  }

  .share {
    margin-top: 3px;
  }
  button {
    background-color: transparent;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    padding: 8px;

    &:hover {
        color: $gray;
      }
  }
}
