// Icons
.post-reactions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 4px;

  .like-comment-send {
    display: flex;
    gap: 10px;
    padding: 0;
    align-items: center;
  }

  .bookmark {
    padding: 0;
    margin-top: 5px;
  }

  .share {
    margin-left: -5px;
    margin-top: 2px;
  }
  button {
    background-color: transparent;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    padding-left: 2px;
  }
}
