.user-container {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;

  font-size: 14px;

  .user-image {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
  }

  .user-comment {
    font-weight: lighter;
  }
}
